{% extends 'templates/base.html' %}
{% load static %}

{% block 'content' %}

<link href="{% static 'css_dashboard.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css'%}" rel="stylesheet">
<link href="{% static 'assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css'%}" rel="stylesheet">

<div class="alert alert-solid-danger f-size-18" role="alert" id="msg_erro" style="display: none;">
</div>
<!--Painel Geral com documentos que vencem no DIA -->
{% csrf_token %}
<div class="row">
  <div class="col">
    <div class="card mb-6">
      <div class="d-flex align-items-center" style="padding: 20px;"> <!-- Usar Flexbox para alinhar itens na mesma linha -->
        <div class="me-3"> <!-- Espaço entre o input e o botão -->
          <label for="flatpickr-range" class="form-label f-bold" style="font-size: 18px;">
            Selecione as datas:
          </label>
        </div>
        <div class="me-3"> <!-- Espaço entre o label e o input -->
          <input
              type="text"
              class="form-control"
              placeholder="Insira as datas"
              style="width: 220px;"
              id="flatpickr-range" />
        </div>
        <div> 
          <button type="button" name="btn_filtro" id="btn_filtro" class="btn btn-primary me-3">Filtrar</button>
          
          <button type="button" onclick="window.location.reload()" class="btn btn-danger d-none" name="btn_limpa_filtro" id="btn_limpa_filtro">Limpar Filtro</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="sortable-cards">
  <div class="col-lg-9 col-sm-12">
    <div class="row">
      <div class="col-12 pr-5">
        <div class="card">
          <div class="card-body">
            <div class="row gy-4 gy-sm-1">
              <div class="col-sm-6 col-lg-4">
                <div class="d-flex justify-content-between align-items-center card-widget-1 border-end pb-4 pb-sm-0">
                  <div>
                    <!--Quantida de Clientes-->
                    <h4 id="total_clientes" class="mb-0">0</h4>
                    <p class="mb-0 f-size-20">Clientes</p>
                  </div>
                  <div class="avatar me-sm-6">
                    <span class="avatar-initial rounded bg-label-primary text-heading">
                      <i class="bx bx-user bx-26px"></i>
                    </span>
                  </div>
                </div>
                <hr class="d-none d-sm-block d-lg-none me-6" />
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="d-flex justify-content-between align-items-center card-widget-2 border-end pb-4 pb-sm-0">
                  <div>
                    <!--Quantidade de Documentos-->
                    <h4 id="qtd_doc" class="mb-0">0</h4>
                    <p class="mb-0 f-size-20">Qtd. Documentos</p>
                  </div>
                  <div class="avatar me-sm-6">
                    <span class="avatar-initial rounded bg-label-primary text-primary">
                      <i class="bx bx-file bx-lg"></i>
                    </span>
                  </div>
                </div>
                <hr class="d-none d-sm-block d-lg-none" />
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="d-flex justify-content-between align-items-center pb-4 pb-sm-0 card-widget-3">
                  <div>
                    <!--Valor somado de contas a pagar (todos clientes) com vencimento HOJE-->
                    <h4 id="val_pag" class="mb-0">0</h4>
                    <p class="mb-0 f-size-20">Valor a Pagar</p>
                  </div>
                  <div class="avatar me-sm-6">
                    <span class="badge rounded-2 bg-label-danger p-2">
                      <i class="bx bx-dollar bx-lg text-danger"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/Painel Geral com documentos que vencem no DIA -->

      <!-- Painel com Documentos Nexxera, Cnab's e Manuais do DIA -->
      <div class="col-lg-12 col-sm-12 order-3 mt-1 pr-5">
        <div class="card mb-3">
          <div class="card-widget-separator-wrapper">
            <div class="card-body card-widget-separator">
              <div class="row gy-4 gy-sm-1">

                <div class="col-sm-6 col-lg-4">
                  <div class="d-flex justify-content-between align-items-center card-widget-1 border-end pb-4 pb-sm-0">
                    <div>
                      <!--Quantidade de documentos Nexxera-->
                      <h4 id="qtd_nexxera" class="mb-0">60</h4>
                      <p class="mb-0 f-size-20">Documentos Nexxera</p>
                    </div>
                    <div class="avatar me-sm-6">
                      <span class="avatar-initial rounded bg-label-primary text-primary">
                        <i class="bx bx-file bx-lg"></i>
                      </span>
                    </div>
                  </div>
                  <hr class="d-none d-sm-block d-lg-none me-6" />
                </div>

                <div class="col-sm-6 col-lg-4">
                  <div class="d-flex justify-content-between align-items-center card-widget-2 border-end pb-4 pb-sm-0">
                    <div>
                      <!--Quantidade de documentos Cnab's-->
                      <h4 id="qtd_cnab" class="mb-0">0</h4>
                      <p class="mb-0 f-size-20">Documentos Cnab's</p>
                    </div>
                    <div class="avatar me-sm-6">
                      <span class="avatar-initial rounded bg-label-primary text-primary">
                        <i class="bx bx-file bx-lg"></i>
                      </span>
                    </div>
                  </div>
                  <hr class="d-none d-sm-block d-lg-none" />
                </div>

                <div class="col-sm-6 col-lg-4">
                  <div class="d-flex justify-content-between align-items-center pb-4 pb-sm-0 card-widget-3">
                    <div>
                      <!--Quantidade de Documentos sem Cnab e sem Nexxera-->
                      <h4 id="qtd_manual" class="mb-0 f-size-28 f-bold text-danger">0</h4>
                      <p class="mb-0 f-size-23 f-bold">Documentos s/ Cnab</p>
                    </div>
                    <div class="avatar me-sm-6">
                      <button 
                        type="button" 
                        class="avatar-initial rounded bg-label-danger text-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#exLargeModal">
                        <i class="bx bx-file bx-lg"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/Painel com Documentos Nexxera, Cnab's e Manuais do DIA -->
    </div>
  </div>
  <!--Data de HOJE-->
  <div class="col-lg-3 col-sm-12 pl-5">
    <div class="row">
      <div class="col-12">
        <div class="card" style="height: 231px; justify-content: space-around !important">
          <div class="card-widget-separator-wrapper">
            <div class="card-body card-widget-separator">
              <div class="row gy-4 gy-sm-1">
                <div class="col-sm-12 col-lg-12">
                  <div>
                    <h4 class="mb-0 f-size-28 f-bold text-danger text-center" id="data_vencimento" name="data_vencimento">...</h4>
                    <p class="mb-0 f-size-23 f-bold text-center">Data de Vencimento</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Data de HOJE-->
</div>

<div class="row mt-3">
<!-- Dash com Ranking de 1 a 6 clientes com mais Movimento  -->
  <div class="col-xxl-6 col-md-6 col-sm-12 mb-3">
    <div class="card text-center h-100">
      <!--<div class="card-header nav-align-top">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
              data-bs-target="#navs-pills-browser" aria-controls="navs-pills-browser" aria-selected="true">
              Ranking de Documentos por Clientes
            </button>
          </li>
        </ul>
      </div>-->
      <div class="tab-content pt-0 pb-4">
        <div class="tab-pane fade show active" id="navs-pills-browser" role="tabpanel">
          <div class="table-responsive text-start text-nowrap">
            <table class="table table-borderless">
              <thead >
                <tr class="text-center f-bold">
                  <th class="f-bold">Nº</th>
                  <th class="f-bold">Cliente</th>
                  <th class="f-bold">Docto Total/Pendente</th>
                  <th class="f-bold">Valor</th>
                  <th class="w-50 f-bold"></th>
                </tr>
              </thead>
              <tbody id="ranking_body">
                <tr>
                  <!--Sequencial do Ranking dos clientes - a base para o ranking é a quantidade de documentos-->
                  <td>1</td>
                  <td>
                    <!--Logo da Empresa / Cliente-->
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <!--Descrição / Nome do Cliente-->
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <!--Quantidade de Documentos-->
                  <td class="text-heading"></td>
                  <!--Valor total a pagar -->
                  <td class="text-heading"></td>
                  </td>
                  <td>
                   
                  </td>
                </tr>
                <tr>
                  <!--Sequencial do Ranking dos clientes - a base para o ranking é a quantidade de documentos-->
                  <td>2</td>
                  <td>
                    <!--Logo da Empresa / Cliente-->
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <!--Descrição / Nome do Cliente-->
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <!--Quantidade de Documentos -->
                  <td class="text-heading"></td>
                  <!-- Valor total a pagar -->
                  <td class="text-heading"> </td>
                  <td>
                    
                  </td>
                </tr>
                <tr>
                  <!--Sequencial do Ranking dos clientes - a base para o ranking é a quantidade de documentos-->
                  <td>3</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>
                    
                  </td>
                </tr>
                <tr>
                  <!--Sequencial do Ranking dos clientes - a base para o ranking é a quantidade de documentos-->
                  <td>4</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>
                    
                  </td>
                </tr>
                <tr>
                  <!--Sequencial do Ranking dos clientes - a base para o ranking é a quantidade de documentos-->
                  <td>5</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>
                   
                  </td>
                </tr>
                <tr>
                  <!--Sequencial de Ranking dos clientes - a base para o ranking é a quantidade de documentos-->
                  <td>6</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>
                  </td>
                </tr>

                <tr>
                  <!--Sequencial de Ranking dos clientes - a base para o ranking é a quantidade de documentos-->
                  <td>7</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>
                  </td>
                </tr>

                <tr>
                  <!--Sequencial de Ranking dos clientes - a base para o ranking é a quantidade de documentos-->
                  <td>8</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Dash com Ranking de 1 a 6 clientes com mais Movimento-->

  <!--Dash do Ranking dos 7 a 12 clientes com mais Movimento-->
  <div class="col-xxl-6 col-md-6 col-sm-12 mb-3">
    <div class="card text-center h-100">
      <!--<div class="card-header nav-align-top">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
              data-bs-target="#navs-pills-browser" aria-controls="navs-pills-browser" aria-selected="true">
              Ranking de Documentos por Clientes
            </button>
          </li>
        </ul>
      </div>-->
      <div class="tab-content pt-0 pb-4">
        <div class="tab-pane fade show active" id="navs-pills-browser" role="tabpanel">
          <div class="table-responsive text-start text-nowrap">
            <table class="table table-borderless">
              <thead>
                <tr class="text-center">
                  <th class="f-bold">Nº</th>
                  <th class="f-bold">Cliente</th>
                  <th class="f-bold">Docto Total/Pendente</th>
                  <th class="f-bold">Valor</th>
                  <th class="w-50 f-bold" ></th>
                </tr>
              </thead>
              <tbody id="ranking_body2">
                <tr>
                  <!--Quantidade -->
                  <td>9</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <!--Quantidade de Documentos-->
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  </td>
                  <td>
                    
                  </td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <!--Quantidade de Documentos -->
                  <td class="text-heading"></td>
                  <!-- Valor total a pagar -->
                  <td class="text-heading"></td>
                  <td>
                    
                  </td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>
                    
                  </td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>
                   
                  </td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>
                    
                  </td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>  
                  </td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>  
                  </td>
                </tr>
                <tr>
                  <td>16</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" height="24" class="me-3" />
                      <span class="text-heading"></span>
                    </div>
                  </td>
                  <td class="text-heading"></td>
                  <td class="text-heading"></td>
                  <td>  
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/Dash do Ranking dos 7 a 12 clientes com mais movimento -->

<!-- Modal - Lista de Documentos Indefinidos -->
<div class="modal fade" id="exLargeModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title f-bold" id="exampleModalLabel4" style="color: #5c719e !important">LISTA DE DOCUMENTOS INDEFINIDOS</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
  <div class="modal-body">
    <div class="scrollable-table" style="max-height: 750px; overflow-y: auto; overflow-x: auto;">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="f-bold">CLIENTE</th>
              <th class="f-bold">VENCIMENTO</th>
              <th class="f-bold">FORNECEDOR / FAVORECIDO</th>
              <th class="f-bold">DOCUMENTO</th>
              <th class="f-bold">VALOR</th>
            </tr>
          </thead>
          <tbody id="ranking_lista">
            <tr>
              <!--Quantidade -->
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <!-- Dados de Demonstração de Documentos Indefinidos -->
              <td class="text-danger f-bold"></td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
              </td>        
            </tr>
            
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
              <td>  
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Modal - Lista de Documentos  -->
<div class="modal fade" id="modalDocumentos" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title f-bold" id="exampleModalLabel4" style="color: #5c719e !important">LISTA DE DOCUMENTOS</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
  <div class="modal-body">
    <div class="scrollable-table" style="max-height: 750px; overflow-y: auto; overflow-x: auto;">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="f-bold">CLIENTE</th>
              <th class="f-bold">VENCIMENTO</th>
              <th class="f-bold">FORNECEDOR / FAVORECIDO</th>
              <th class="f-bold">DOCUMENTO</th>
              <th class="f-bold">VALOR</th>
            </tr>
          </thead>
          <tbody id="ranking_lista_geral">
            <tr>
              <!--Quantidade -->
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <!-- Dados de Demonstração de Documentos Indefinidos -->
              <td class="text-danger f-bold"></td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
              </td>        
            </tr>
            
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
              <td>  
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="" height="24" class="me-3" />
                  <span class="text-heading"></span>
                </div>
              </td>
              <td class="text-heading"></td>
              <td class="text-heading"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>
<!--<div class="demo-inline-spacing">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exLargeModal">
    Extra Large
  </button>
</div> -->

<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="{% static 'assets/js/app-logistics-dashboard.js' %}"></script>
<script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'assets/js/forms-pickers.js' %}"></script>
<script src="{% static 'js/chart_dashboard.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

<script>
  const carrega_dados_dash = '{% url "dashboard:retornaDadosDashboard" %}';
  const carrega_dados_doctos_indefinidos = '{% url "dashboard:retornaDadosDoctosIndefinidos" %}';
  const carrega_dados_doctos_gerais = '{% url "dashboard:retornaDadosDoctosGerais" %}';
  const carrega_dados_ranking_docto_indefinido = '{% url "dashboard:retornaRankingDoctoIndefinido" %}';

</script>


{% endblock %}